.ContainerVideo{
  position: relative;
}
.cover{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height: 3.8rem;
}
.video{
  width: 100%;
  height:3.8rem;
  visibility: hidden
}
.playButton{
  position: absolute;
  left:2.8rem;
  top:1.3rem;
  font-size: 1.2rem !important;
  color: rgba(0,255,255,0.7);
  font-weight: 100;
  cursor: pointer
}
.playButton:hover{
  color:#479ac7
}
.disappear{
  display: none
}

