.FooterButton{
  height: 100%;
  width: 1.2rem;
  text-align: center;
  cursor: pointer;
}

.buttonActive{
  color:#479AC7;
}

.buttonSize{
  font-size:.6rem !important;
  display: block;
  font-weight: 500
}

.buttonName{
  font-size:.22rem;
  font-weight: 600
}