.Loading{
  width: 100%;
  transition: height 1s ease;
}
.loader{
  margin: .4rem auto;
  border: .3rem solid #f3f3f3;
  border-radius: 50%;
  border-top: .3rem solid aqua;
  width: .6rem;
  height: .6rem;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loadingHide{
  display: none;
}